.containerClase {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.divAlumnoMod {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.AlumnosSection{
    display: flex;
    flex-direction: row-reverse;
}

.secIterface{
    display: flex;
    justify-content: space-around;
}

/* .divList{
   background-color: darkorchid;
} */

.divForm{
    /* background-color: darkcyan; */
    min-width: 250px;
}

.secUpdateClases{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
