.containerClase {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.divAlumnoMod {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cancelUpdate {
    flex-direction: row;
}

.AlumnosSection{
    display: flex;
    flex-direction: row-reverse;
}

.secIterface{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divList{
    display: flex;
    min-height: 200px;
    max-height: 400px;
    min-width: 850px;
    /* background-color: aqua; */
    /* justify-content: center; */
    /* justify-content: space-around; */
}

.divForm{
    /* background-color: coral; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100px;
    min-width: 250px;  
    max-width: 300px;  
}
